<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body style="background-color: #2C8870;" onLoad="window.resizeTo(1366,768)">
    <header>
        <div class="contenedor">
            <h2><a>Calendario Matemático CIEMAC</a></h2>
            <label class="fas fa-sign-out-alt" style="cursor: pointer" (click)="Salir()"></label>
            <img src="{{fotoUsuario}}" style="width:2.5%; margin-top: 0.8%; margin-left: 55%;" class="w3-circle" >
            <label class="fas fa-info" routerLink='/Informacion' style="cursor: pointer"></label>
        </div>
    </header>

    <main>
        <section id="banner">
            <img class="imagen-fondo" src="../assets/imagenes/fondo.jpg">
            <div class="contenedor">
                <div>
                    <h2 style="margin-left: 7%; float: left;">{{nombreCurso}} : Cursos</h2>
                    <br><br><br><br>


                    <!-- Agregar la información de un tema-->
                    <div *ngIf="visibleAgregar">
                        <div class="contendor-informacion">
                            <br>
                            <h3>Agregar tema </h3>
                            <br><br><br><br>
                            <input type="text" placeholder="Nombre del tema" class="form-control casilla" [(ngModel)]="temaNombre">
                            <br>
                            <button type="button" (click)="AgregarTema(temaNombre)" class="btn estilo-boton" style="float:right;margin-top: 28%;">Agregar</button>

                        </div>
                    </div>


                    <!-- Modificar la información de un tema -->
                    <div *ngIf="visibleModificar">
                        <div class="contendor-informacion">
                            <br>
                            <h3>Editar tema: </h3>
                            <br><br><br>
                            <p><b>Nombre del tema:</b> {{temaActual}} </p>
                            <br><br>
                            <input type="Text" placeholder="Nuevo nombre:" class="form-control" [(ngModel)]="temaNuevo"
                                style="border:0px; width: 85%; margin: 4%; background-color: #E4EAE9; cursor: pointer;">
                            <br>
                            <button type="button" (click)="MostrarVentanaAgregar()" class="btn estilo-boton" style="float:right; margin-top: 25%;">Cancelar</button>
                            <button type="button" (click)=" ModificarInformacionTema(temaNuevo)" class="btn estilo-boton"
                                style="float: right; margin-right: 3px; margin-top: 25%;">Editar</button>
                        </div>
                    </div>

                    <!-- Mostrar la información de los temas que ya tiene agregados -->
                    <div class="contenedor-cursos">
                        <br>
                        <ul>
                            <table style="width:100%" *ngFor="let tema of listaTemas">
                                <tr>
                                    <div>
                                        <br>
                                        <th style="cursor:pointer" (click)="DatosBusqueda(tema.nombre)">{{tema.nombre}}
                                        </th>
                                        <i class="fas fa-pencil-alt" (click)="MostrarVentanaEditar(tema.nombre)"></i>
                                        <br>
                                        <i class="far fa-trash-alt" (click)="GuardarInformacion(tema.nombre)"
                                            data-toggle="modal" data-target="#modalEliminar"></i>
                                        <hr>
                                    </div>
                                </tr>
                            </table>
                        </ul>
                    </div>

                    <!--Modal para que el ususario indique si de verdad desea eliminar un tema-->
                    <div class="modal" id="modalEliminar" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Eliminar informacion</h5>
                                </div>
                                <div class="modal-body">
                                    <br>
                                    <p style="color: #2C8870;"> ¿Esta seguro que desea eliminar la información del
                                        tema?</p>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="EliminarTemas()">Si</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </main>
</body>