
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<body style="background-color: #2C8870;">
    <section id="banner">
        <img class="imagen-fondo" src="../assets/imagenes/fondo.jpg">
        <div class="contenedor">
            <h2>Calendario<br>&nbsp;&nbsp;&nbsp;&nbsp;Matemático<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CIEMAC</h2>
            <br>
            <button type="button" (click)="OnClickLogin()"   class="btn estilo-boton">&nbsp;&nbsp;Ingresar con Google&nbsp;&nbsp;<i class="fab fa-google"></i>&nbsp;&nbsp;</button>
        </div>
    </section>
</body>
