<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  

<body style="background-color: #2C8870;">
  <header>
    <div class="contenedor">
      <h2><a>Calendario Matemático CIEMAC</a></h2>
      <label class="fas fa-sign-out-alt" style="cursor: pointer"(click)="Salir()"></label>
      <img src="{{fotoUsuario}}" style="width:2.5%; margin-top: 0.8%; margin-left: 55%;" class="w3-circle" >
    </div>
  </header>
  <main>
    <section id="banner">
      <img class="imagen-fondo" src="../assets/imagenes/fondo.jpg">
      <div class="contenedor">


        <div class="contenedor-informacion">
          <h2 style="margin-left: 27%;">Información de la aplicación</h2>
          <br><br><br>
          <h4>La aplicación de Calendario Matemático CIEMAC de la Escuela de
            Matemática del Instituto Tecnológico de Costa Rica, tiene el
            objetivo de fomentar el razonamiento matemático por medio de
            esta herramienta tecnológica, brindando a la población estudialtil
            la ventaja de llevarlo de forma digital para resolver ejercicios
            cada día </h4>
          <br>
          <hr>
          <h2 style="margin-left: 35%;">Desarrolladoras</h2>
          <br><br>
          <h4>
            <br>
            Valeria Herrera Rodríguez
            <br>
            Estudiante de Computación
            <br>
            <br>
            Pamela Varela Alfaro 
            <br>
            Estudiante de Computación
            <br>
            <br>
            Maria Estrada Sánchez
            <br>
            Coordinadora del proyecto
            <br>
            <br>
            @2019 Instituto Tecnológico de Costa Rica
          </h4>

        </div>
      </div>
    </section>
  </main>
</body>